# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift / SPM
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Local signing overrides
*.mobileprovision
*.cer
*.p12
